esercizi/esercizio schema simil TEI.dtd

    <!ELEMENT TEI (header,facsimile*,text+)>
    <!ELEMENT header (#PCDATA)>
    <!ELEMENT facsimile (#PCDATA)>
    <!ELEMENT text (#PCDATA)>
    <!ATTLIST header type CDATA #FIXED "intestazione">
    <!ATTLIST header lang NMTOKEN #IMPLIED >
    <!ATTLIST facsimile source CDATA #REQUIRED>
    <!ATTLIST text id ID #REQUIRED >
    <!ATTLIST text type CDATA #IMPLIED >
    <!ENTITY firma "Andrea Zaimbri">
